
<div class="text-center">
  <div class="row" *ngIf="espera">
      <div class="col-6">
          <div class="col-lg-12 h1">
              Resumen compra
          </div>
          <br>
          <div class="col-lg-12">
            <h2>Su pedido se enviara a la direccion: </h2>
            <p>{{pedido.direccion}}</p>
            <h2>Se contactara al telefono: </h2>
            <p>{{pedido.telefono}}</p>
            <h2>Se le informara de la entrega al correo: </h2>
            <p>{{pedido.correoElectronico}}</p>
            <h2>Su pedido a sido pagado por: </h2>
            <p>{{pedido.tipopado}}</p>
            <h2>El dueño de la tarjeta es: </h2>
            <p>{{pedido.dueniotarjeta}}</p>
          </div>
      </div>
      <div class="col-6">
        <div class="col-12 h1">
            Ordenador comprado
        </div>
        <br>
        <div class="col-lg-12">
          <h2>Nombre ordenador: </h2>
          <p>{{pedido.ordenador.nombre}}</p>
          <h2>RAM del ordenor: </h2>
          <p>{{pedido.ordenador.ram.nombre}} {{pedido.ordenador.ram.kit}}</p>
          <h2>Procesador del ordenador: </h2>
          <p>{{pedido.ordenador.procesador.nombre}} {{pedido.ordenador.procesador.modelo}}</p>
          <h2>Disco duro ordenador: </h2>
          <p>{{pedido.ordenador.discoduro.nombre}} {{pedido.ordenador.discoduro.capacidad}}</p>
          <h2>Grafica ordenador: </h2>
          <p>{{pedido.ordenador.grafica.nombre}} {{pedido.ordenador.grafica.modelo}}</p>
          <h2>Fuente ordenador: </h2>
          <p>{{pedido.ordenador.fuente.nombre}} {{pedido.ordenador.fuente.potencia}}</p>
          <h2>Precio:</h2>
          <p>{{(pedido.ordenador.precio+pedido.ordenador.fuente.precio+pedido.ordenador.grafica.precio+pedido.ordenador.grafica.precio+pedido.ordenador.procesador.precio+pedido.ordenador.ram.precio).toFixed(2)}}€</p>

        </div>
    </div>
  </div>
</div>


