<app-loading [texto]="'Ordenadores'" *ngIf="!espera"></app-loading>
<div class="row gx-0" *ngIf="espera">
  <div class="card" style="width: 18rem;" *ngFor="let ordenador of listaOrdenadores">
    <div *ngIf="ordenador.cantidad>=1" [routerLink]="['/paginas/ordenadores/detallesOrdenador',ordenador.id]">
      <img class="card-img-top" src="{{ordenador.imagenes}}" alt="imagen de ordenador">
      <div class="card-body">
        <h5 class="card-title">{{ordenador.nombre}}</h5>
        <p class="card-text">{{ordenador.descripcion}}</p>
        <p>{{(ordenador.precio+ordenador.fuente.precio+ordenador.grafica.precio+ordenador.grafica.precio+ordenador.procesador.precio+ordenador.ram.precio).toFixed(2)}}€</p>
      </div>
    </div>
    <div *ngIf="ordenador.cantidad<=0">
      <img class="card-img-top" src="{{ordenador.imagenes}}" alt="imagen de ordenador">
      <img class="card-img-top agotado" src="../../../assets/agotado.png" alt="imagen de ordenador">
      <div class="card-body">
        <h5 class="card-title">{{ordenador.nombre}}</h5>
        <p class="card-text">{{ordenador.descripcion}}</p>
        <p>{{(ordenador.precio+ordenador.fuente.precio+ordenador.grafica.precio+ordenador.grafica.precio+ordenador.procesador.precio+ordenador.ram.precio).toFixed(2)}}€</p>
      </div>
    </div>
  </div>
</div>
