.texto{
  color:rgb(0, 0, 0);
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 60%; left: 49.5%;
}

section{
  margin: 0 auto;
  width:0%;
	height: 100px;
}
body {
	background: #555;
}

.loading-wrap {
  width: 60px; height: 60px;
  position: absolute;
  top: 50%; left: 50%;
  margin: 0 0 0 0;
  /* background-color: rgba(20, 189, 20, 0.438); */
  border-radius: 30px;
  animation: rotation ease-in-out 2s infinite;
}

.triangle1,
.triangle2,
.triangle3 {
  border-width: 0 20px 30px 20px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: #fffb00;
  height: 0; width: 0;
  position: absolute;
  left: 10px; top: -10px;
  animation: fadecolor 2s 1s infinite;
}

.triangle2,
.triangle3 {
  content: '';
  top: 20px;
  left: 30px;
  animation-delay: 1.2s;
}

.triangle3 {
  left: -10px;
  animation-delay: 1.4s;
}

@keyframes rotation {
  0% {transform: rotate(0deg);}
  20% {transform: rotate(360deg);}
  100% {transform: rotate(360deg);}
}

@keyframes fadecolor {
  0% {border-bottom-color: rgb(255, 255, 255);}
  100%{border-bottom-color: #ffd000;}
}
