<header>
  <div class="container mt-4">
    <img src="../assets/logo.png" height="10%" width="10%">
    <div class="row">
      <div class="col">
        <ul class="nav nav-tabs">
          <li class="nav-item"><a class="nav-link" [routerLink]="['/']" routerLinkActive="active">Login</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['/registrar']" routerLinkActive="active">Registrar</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['/comprar']" routerLinkActive="active">Comprar</a></li>
        </ul>
      </div>
    </div>
    <div class="row my-4">
      <div class="col col-sm-10 col-md-8">
        <router-outlet></router-outlet>
      </div>
    </div>
    </div>
</header>


