
<header class="p-2 bg-white">
  <div class="row gx-0">
      <div class="col-8 ">
          <img alt="logo" class="col-3" src="../assets/logo.png">
      </div>
      <div class="col-4" >
        <img class="col-1 icono1" alt="usuario" align="right" src="../assets/login.png" [routerLink]="['/paginasProtegidas/datosUsuario']">
        <img class="col-1 icono1" alt="cerrar sesion" align="right" src="../assets/cerrarSesion.png" (click)="cerrarSesiopn()">
        <img class="col-1 icono1" alt="registrar" align="right" src="../assets/registrar.png" [routerLink]="['/auth/registrar']">
        <!--<img class="col-1 icono1" align="right" src="../assets/comprar.png" [routerLink]="['/paginas/ordenadores']">-->
    </div>
  </div>
  <div class="row gx-0">
    <div class="col">
      <ul class="nav nav-tabs">
        <li class="nav-item col-4"><a class="nav-link" [routerLink]="['/auth/login']" routerLinkActive="active">Login</a></li>
        <li class="nav-item col-4"><a class="nav-link" [routerLink]="['/auth/registrar']" routerLinkActive="active">Registrar</a></li>
        <li class="nav-item col-4"><a class="nav-link" [routerLink]="['/paginas/ordenadores']" routerLinkActive="active">Comprar</a></li>
      </ul>
    </div>
  </div>
</header>

<div class="row my-4 gx-0">
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
