
<div class="container">
  <div class="row">
      <div class="col-lg-3 col-md-2"></div>
      <div class="col-lg-6 col-md-8">

          <div class="col-lg-12 h2">
              Registrarse
          </div>
          <br>
          <div class="col-lg-12">
              <form (ngSubmit)="registrar()" autocomplete="off" [formGroup]="miFormulario">
                <div>
                  <label class="form-control-label">USERNAME</label>
                  <input type="text" class="form-control" placeholder="Ingrese su email" formControlName="name">
                  <span class="form-text text-danger" *ngIf="campoEsValido('name')">
                    Debe de ser de 4 letras minimo
                  </span>
                </div>
                <div>
                  <label class="form-control-label">EMAIL</label>
                  <input type="email" class="form-control" placeholder="Ingrese su email" formControlName="email">
                  <span class="form-text text-danger" *ngIf="campoEsValido('email')">
                    {{ emailErrorMensaje }}
                  </span>
                </div>
                <div>
                  <label class="form-control-label">CALLE</label>
                  <input type="text" class="form-control" placeholder="Ingrese su calle" formControlName="calle">
                  <span class="form-text text-danger" *ngIf="campoEsValido('calle')">
                    Debe de ser de 4 letras minimo
                  </span>
                </div>
                <div>
                  <label class="form-control-label">TELEFONO</label>
                  <input type="number" class="form-control" placeholder="Ingrese su telefono" formControlName="telefono">
                  <span class="form-text text-danger" *ngIf="campoEsValido('telefono')">
                    Debe de ser de 9 numeros
                  </span>
                </div>
                <div>
                  <label class="form-control-label">PASSWORD</label>
                  <input type="password" class="form-control" placeholder="Ingrese su password" formControlName="password">
                  <span class="form-text text-danger" *ngIf="campoEsValido('password')">
                    Debe de ser de 4 letras
                  </span>
                </div>
                <br>
                <div class="col-lg-12 loginbttm">
                    <div class="col-lg-6">
                        <!-- Incruit mensaje de error -->
                    </div>
                    <div class="col-lg-6">
                        <button type="submit" class="btn btn-primary"[disabled]="miFormulario.invalid">Registrar</button>
                    </div>
                </div>
              </form>
          </div>
      </div>
  </div>
</div>



